/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin: 50px;
	
	
}

.container nav  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	text-decoration: none;
	color: grey;
	padding: 10px;

}

.container a {
	text-decoration: none;
	color: grey;
}

.header {
	display: flex;
	flex-direction: row;
	align-content: center;


	

}

.headerbutton div {
	flex-direction: column;
	
}
 


.header img {
	width: 50%;
	height: 50%;

}

.title1 {
	display: flex;
	font-size: 125px;
	width: 50%;
	

}


button {
	background: white;
	border: solid black 1px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: flex;
	width: 100px;
	height: 25px;
	font-size: 16px;
	transition-duration: .7s;
	margin: 
}
.button:hover {
	background-color: lightgrey;

}

section .main-header {
	border-bottom: solid black 2px;
	display: flex;
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 45px;
}


section .main-body {
	border-bottom: solid black 2px;
	align-content: center;
	margin-bottom: 25px;
	padding-bottom: 45px;
	display: flex;
}



.main-body .features {
	display: flex;

	padding: 25px;
}

.main-body .about {
	display: flex;

	padding: 25px;
}

.main-body .services {
	display: flex;

	padding: 25px;
}
.main-body .product {
	display: flex;

	padding: 25px;
}
.main-body .vision {
	display: flex;
	align-content: center;

	padding: 25px;
}
.main-body img {
	display: flex;
	align-content: center;

	height: 150px;
}

section .contact {
	display: flex;
	padding: 25px;
}

div.copyright {
	text-align: center;
	
}